<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Thank You - HRIS Davao Del Norte</title>
        <link href="/static/css/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
        <link rel="apple-touch-icon" sizes="180x180" href="\static\assets\img\apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="\static\assets\img\favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="\static\assets\img\favicon-16x16.png">
        <link rel="manifest" href="\static\assets\img\site.webmanifest">
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <main>
                    <div class="container">
                        <div class="row justify-content-center" style="margin-top:200px">
                            <div class="col-lg-4">
                                 <img src="\static\assets\img\thankyou.png" class="img-fluid" alt="Responsive image" />
                            </div>
                        </div>
                        <div class="row justify-content-center">
                             <a href="{% url 'RawData:index' %}"><button type="button" class="btn btn-primary" style="float:right"> Register Another Information</button></a>
                        </div>
                    </div>
            </main>
        </div>
    </body>
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</html>
